# Data creation
DATABASE_UK=XXX
DATABASE_EU=XXX
INCLUDE_ADDITIONAL_SUPPLEMENTARY_UNITS=0|1
WRITE_MEASURES=0|1
WRITE_ADDITIONAL_CODES=0|1
WRITE_FOOTNOTES=0|1
WRITE_ANCILLARY_FILES=0|1

# Debug mode (no zips, no load to AWS and no mail send)
DEBUG_MODE=0|1

# ZIP options
CREATE_7Z=0|1
CREATE_ZIP=0|1

# AWS bucket environment variables (for Transform)
AWS_ACCESS_KEY_ID=
AWS_REGION="eu-west-2"
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME="trade-tariff-reporting"
WRITE_TO_AWS=0|1

# Send grid mail API
SENDGRID_API_KEY_HMRC=
SENDGRID_API_KEY=
FROM_EMAIL=trade-tariff-support@transformuk.com|Online Trade Tariff Support
TO_EMAILS=matt.lavis@digital.hmrc.gov.uk|Matt|Lavis
SEND_MAIL=0|1

# Empty descriptions
PLACEHOLDER_FOR_EMPTY_DESCRIPTIONS=Description tbc

# Ranges to cover
MIN_CODE=0000000000
MAX_CODE=9999999999

# Option to use the materialized views or not
USE_MATERIALIZED_VIEWS=0|1
