autopep8==1.5.4
cffi==1.14.4
multivolumefile==0.1.2
pathlib2==2.3.5
ppmd-cffi==0.3.2
psycopg2==2.8.6
py7zr==0.12.0
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.9
python-dotenv==0.15.0
six==1.15.0
texttable==1.6.3
toml==0.10.2
zstandard==0.15.1
